header {

  background-color: var(--color-grey-0);


}

.boxHeader {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 10rem;
  padding: 1rem;
  gap: 2rem;

  .boxHeader--cart {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .boxHeader--btn-search {
    position: relative;
    right: 8rem;
    display: flex;
    height: 4rem;
    padding: 0rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
 
    &:hover {
      background: var(--color-white);
      color: var(--color-primary);
      transition: all 0.8s ease 0s;
    }
  }

  .boxHeader--btn-cart {
    display: flex;
    height: 4rem;
    padding: 0rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 
    color: var(--color-grey-300);

    &:hover {
      color: var(--color-primary);
      transition: all 0.8s ease 0s;
    }



    & span {
      padding: .2rem;
      position: relative;
      top: -1.5rem;
      left: -2rem; 
      width:25px;
      height: 18px;
    
     color: var(--color-white);

    border-radius: 6px;
    background: var(--color-primary);

   }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.input {
  width: 36.5rem;
  height: 6rem;
  padding: 1rem 1.5rem;

  border-radius: 0.8rem;
  border: 0.2rem solid var(--color-grey-100);
  background-color: var(--color-white);

  &:focus {
    border: 0.2rem solid var(--color-primary);
    transition: all 0.8s ease 0s;
  }

  &::placeholder {
    color: var(--color-grey-100);
  }

  &:hover {
    border: 0.2rem solid var(--color-primary);
    transition: all 0.8s ease 0s;
  }

}

@media screen and (min-width: 662px) {
  .boxHeader {
    
    justify-content: center;
    

  }
  .input{
    width: clamp(36.5rem, 20%, 50rem);
  }
}


}